<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#  Data Science Tools and Ecosystems

In this notebook, Data science Tools and ecocsystems are summarised

### Objectives

* To create a new jupyter notebook
* To identify the languages used in Data Sciences
* To identify the various libraries used in Data Science
*  At the end of the course one should be able to create ordered and unordered lists
* At the end of the course on should be able to differntiate between markdown cells and code cells
* One should be able to create tables in Python 
* One should be able to write basic arithmetic expressions using python

Some of the popular languages in Data sciences are

1. Pyhton
2. R
3. SQL

Some of the commonly used libraries in Data science include

1. pandas
2. nimpy
3. matplotlib

|Data Science Tools |
---------------------
|Jupyter Notebook|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in python

In [6]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [9]:
# this will convert 200mins to hours by dividing by 60

200/60

3.3333333333333335

## Author
Kudakwashe Mususa